---
import Social from "./Social.astro";

---

<footer>
  <p>
    <Social platform="twitter" username="nicoleal88"/>
    <Social platform="instagram" username="nicoleal88"/>
    <Social platform="GitHub" username="nicoleal88"/>
  </p>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>